<div class="produtos-container">
  <div class="header">
    <button class="btn-voltar" (click)="voltarParaCategorias()">
      ← Voltar
    </button>

  </div>
  <div class="header">
    <h1>{{ categoriaNome }}</h1>
  </div>

  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    <p>Carregando produtos...</p>
  </div>

  <div *ngIf="!loading && produtos.length === 0" class="sem-produtos">
    <p>Nenhum produto encontrado nesta categoria.</p>
  </div>

  <div *ngIf="!loading && produtos.length > 0" class="produtos-grid">
    <div *ngFor="let produto of produtos" class="produto-card">
      <div class="produto-imagem">
        <img [src]="getImagemProduto(produto)" (error)="onImagemErro($event)" [alt]="produto.nome" class="imagem-produto" />
      </div>

      <div class="produto-info">
        <h3>{{ produto.nome }}</h3>
        <p class="descricao">{{ produto.descricao }}</p>
        <div class="preco">
          <span class="valor">R$ {{ produto.preco | number:'1.2-2' }}</span>
        </div>
      </div>

      <div class="produto-acoes">
        <textarea class="observacao" [(ngModel)]="produto.observacao" placeholder="Observação, ex: sem cebola, sem pimenta..."></textarea>
        <button
          class="btn-adicionar"
          (click)="adicionarAoCarrinho(produto)"> Incluir
        </button>
      </div>
    </div>
  </div>
</div>
